@model Course
@{
    ViewData["Title"] = "Detail";
}

    <div class="row">
        <div class="col-6">
            <img style="width:200px !important;height:200px !important" src="~/img/course/@Model.Image" alt="Alternate Text" />
        </div>
        <div class="col-6">
            <form class="d-flex">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="@Model.CourseContent.About"></label><br />
                        <input asp-for="@Model.CourseContent.About" /><br />
                        <label asp-for="@Model.CourseContent.Certification"></label><br />
                        <input asp-for="@Model.CourseContent.Certification" /><br />
                        <label asp-for="@Model.CourseContent.HowToApply"></label><br />
                        <input asp-for="@Model.CourseContent.HowToApply" />
                    </div>
                </div>
                
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="@Model.CourseFeature.Assement"></label><br>
                        <input asp-for="@Model.CourseFeature.Assement" /><br />
                        <label asp-for="@Model.CourseFeature.ClassDuration"></label><br />
                        <input asp-for="@Model.CourseFeature.ClassDuration" /><br />
                        <label asp-for="@Model.CourseFeature.Language"></label><br />
                        <input asp-for="@Model.CourseFeature.Language" /><br />
                        <label asp-for="@Model.CourseFeature.Sarts"></label><br />
                        <input asp-for="@Model.CourseFeature.Sarts" />
                    </div>
                    
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="@Model.CourseFeature.SkillLevel"></label><br />
                        <input asp-for="@Model.CourseFeature.SkillLevel" /><br />
                        <label asp-for="@Model.CourseFeature.StudentCount"></label><br />
                        <input asp-for="@Model.CourseFeature.StudentCount" /><br />
                        <label asp-for="@Model.CourseFeature.CourseFee"></label><br />
                        <input asp-for="@Model.CourseFeature.CourseFee" />
                    </div>
                </div>
               
            </form>
        </div>
        <div class="row">
            <div class="col-6 ml-3">
                <form>
                    <div class="form-group">
                        <input asp-for="@Model.CourseName" />
                    </div>
                    <div class="form-group">
                        <input asp-for="@Model.Description" />
                    </div>
                </form>
            </div>
           
            
        </div>
    </div>


<div class="row">
    <a class="btn btn-facebook" asp-action="Index">Go Back</a>
</div>