@model IEnumerable<Blog>
@{
    ViewData["Title"] = "Index";
}


<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>blog</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            @foreach (Blog blog in Model)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog mb-60">
                        <div class="blog-img">
                            <a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id"><img src="~/img/blog/@blog.Image" alt="blog"></a>
                            <div class="blog-hover">
                                <i class="fa fa-link"></i>
                            </div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-top">
                                <p>By @blog.AuthorName  /  @blog.Date  /  <i class="fa fa-comments-o"></i> 4</p>
                            </div>
                            <div class="blog-bottom">
                                <h2><a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id">@blog.Explain </a></h2>
                                <a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id">read more</a>
                            </div>
                        </div>
                    </div>
                </div>

            }
            <div class="row">
                <div class="col-xs-12">
                    <div class="pagination">
                        <ul>
                            @for (int i = 1; i <= ViewBag.PageCount; i++)
                            {
                                if (ViewBag.Page == null)
                                {

                                    if (i == 1)
                                    {
                                        <li  style="pointer-events:none"><a class="disabled" href="/Blog/Index?page=@i">@i</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Blog/Index?page=@i">@i</a></li>
                                    }
                                }
                                else
                                {
                                    if (i == ViewBag.Page)
                                    {
                                        <li style="pointer-events:none"><a class="disabled" href="/Blog/Index?page=@i">@i</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Blog/Index?page=@i">@i</a></li>
                                    }
                                }

                            }


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
</div>
<!-- Blog End -->
<!-- Subscribe Start -->
<div class="subscribe-area pt-60 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="subscribe-content section-title text-center">
                    <h2>subscribe our newsletter</h2>
                    <p>I must explain to you how all this mistaken idea </p>
                </div>
                <div class="newsletter-form mc_embed_signup">
                    <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll" class="mc-form">
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your e-mail address" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div class="mc-news" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                            <button id="mc-embedded-subscribe" class="default-btn" type="submit" name="subscribe"><span>subscribe</span></button>
                        </div>
                    </form>
                    <!-- mailchimp-alerts Start -->
                    <div class="mailchimp-alerts">
                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                    </div>
                    <!-- mailchimp-alerts end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Subscribe End -->
